<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Page</title>
</head>
<body>
    <h1 align="center"> Welcome to attendance portal Dear {{user.name}}</h1>
    <h2> Mark your Attendance for Today </h2>
    <input type="submit" value="click">
</body>
</html>