<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1 align="center"> welcome to the WEO infotech LogIn page</h1>
    <h2>Please enter user credentials </h2><br>
    <a href="/">Home</a>
    <a href="/signin">SignUp</a>  <br> <br>

    <form action="/login" method="post"> 
            <div>
                <label for="name">customer_code:</label>
                <input type="text" placeholder="customer_code" name="customercode" id="customercode" required>
            </div><br>

            <div>
                <label for="password">Password:</label>
                <input type="text" placeholder="Password" id="password" name="password" required>
            </div><br>
            <br><br>
            <div>
                <input type="submit" value="LogIn">
            </div>


    </form>
</body>
</html>