<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
        <h1 align="center"> Welcome to your account {{user.name}} </h1>
    {{#if user}}
    <a href="/logout">LogOut</a> 
    {{ else }}
    <a href="/login">LogIn</a>
    {{/if}}
    <br>
    <h2>Please go to  Attandance  page to Mark your Attendance</h2> <a href="/attendance">page</a>

</body>
</html>